<div class="text-white bg-black h-[740px] mt-[119px]">
    <div class="flex justify-center pt-[100px]">
        <div class="space-y-[23px]">
            <div class="flex justify-center">
            <p class="text-[#FF9142] text-[24px]">Get in Touch With Us</p>
            </div>
            <p class="text-[76px]"> info&#64;aaronn.com </p>
        </div>
       
    </div>



<div class="flex justify-evenly mt-[193px]">
    <img src="favicon.ico">
    <div class="text-white">
        <p>Street Avenue 21, CA</p>
        <p>0-8-00-888-000</p>
    </div>
    <div>
        <p> +9 0283353</p>
        <div class="flex">
            <img src="favicon.ico">
            <img src="favicon.ico">
            <img src="favicon.ico">
        </div>
    </div>
</div>
<div class="mt-[74px] text-white">
    <hr class="max-w-[1146px] mx-auto">
    <p class="text-center text-[24px] mt-[36px] mb-[86px]">
        © 2023. Ideapeel. All rights reserved.
    </p>
</div>
</div>




