<!-- <p>about-me-section works!</p> -->
<div class="flex items-center justify-around text-white pt-[256px]">
    
        <div class="">
            <div class="space-y-6">
                <p class="text-6xl font-bold"> Let’s get know <br /> about me closer </p>
                <p>
                    Aaronn is a New York-based visual designer focusing on branding <br />and visual identity. Her portfolio showcases
                    her wide
                    range <br />of work, spanning books, posters and web design.
                </p>
            </div>
           
        <button
            class="flex text-white bg-[#FF9142] mt-[93px] border-none px-10 h-[59px] rounded-[32.5px] justify-center items-center gap-6 outline-none">
            <p> Discover More About Me </p> 
        </button>
        </div>



        
        
        <div class="flex border">   
            
            <div class="flex items-end">
                <div class="w-[55px] h-[178px] border border-[#FF9142] rounded-3xl" ></div>
                <!-- <div class="h-[34px] w-[110px] border border-[#FF9142] rounded-3xl" ></div> -->
            </div>
            
            <div>
                <img src="images/about-us-section.svg">
            </div>
        </div>
      
</div>
