<div class="flex justify-around mt-[166px]">
    <div class="pt-8 text-white">
        <span class="text-6xl text-white "> Testimonial</span>
    
        <p class="mt-[44px]"> “Aaronn was fantastic to work with from start to finish. We were looking for a simple, stand-out logo
            and <br />he delivered.
            I tried designing the logo myself thinking I wouldn’t need to pay the money for a <br />professional graphic
            designer but I
            was very wrong. Working with Aaronn was worth every penny and was <br />surprisingly affordable! I remember him
            saying
            simplicity is key to a successful logo and boy he was right. <br />I can’t thank Aaronn enough for his effort
            and
            professionalism. I would recommend him to anyone looking <br />for a design!”</p>
            <p class="mt-[34px]">-Martin lee</p>
    </div>
    
    <div class="">
        <img class="" src="images/testimonial-icon.svg">
    </div>
</div>


